.page {
    min-height: calc(100vh - 48px);
    background-color: var(--gray-225);
    padding-top: 28px;

    .headerContainer {
        height: 56px;
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 2.125rem;
        }
    }

    .board {
        overflow-x: auto;
        height: calc(100vh - 132px);
        padding: 32px 0;
        display: -webkit-box;
        gap: 32px;
    }
}