.dialog {
    div {
        background-color: var(--gray-100);
        color: var(--gray-650);
        border-radius: 0.375rem;

        input {
            font-size: .875rem;
            padding: 0 0.5rem;
            height: 40px;
            width: 400px;
            line-height: 1.25rem;
            color: var(--black);

            &::placeholder {
                color: var(--gray-650);
            }
        }

        fieldset {
            border-color: var(--gray-100);
        }
    }
}
